.DS_Store
MinimaleLatenz.dSYM/Contents/Info.plist
MinimaleLatenz.dSYM/Contents/Resources/DWARF/MinimaleLatenz
.vscode/tasks.json
Kontextwechsel.dSYM/Contents/Info.plist
Kontextwechsel.dSYM/Contents/Resources/DWARF/Kontextwechsel
